.k{
    height: 10%;
    width: 10%;
}

.u{
    height: 50%;
    width: 50%;
}

h5{
    background-color: grey;
}

.set{
    background-color: grey;
    height: 70%;
 
    
}

body{
    background-color: yellow;
}